---
import HeroSection from '../components/HeroSection.astro';
import Layout from '../layouts/Layout.astro';
import Services from '../components/Services.astro';
import ContactUs from '../components/ContactUs.astro';
---

<Layout title="Welcome to Astrolus.">
	<main class="space-y-40 mb-40">
		<HeroSection />
		<Services/>
		<ContactUs />
	</main>
</Layout>