---
import Container from "./Container.astro"

---

<div id="Services">
  <Container>
      <div class="mb-12 space-y-2 text-center">
        <h2 class="text-3xl font-bold text-gray-800 md:text-4xl dark:text-white">Our services ⚡</h2>
        <p class="lg:mx-auto lg:w-6/12 text-gray-600 dark:text-gray-300">
          Expert Electrical Services for Your Home or Business
        </p>
      </div>
      <div class="grid gap-8 md:grid-cols-2 lg:grid-cols-3">
        <div class="group p-6 sm:p-8 rounded-3xl bg-white border border-gray-100 dark:shadow-none dark:border-gray-700 dark:bg-gray-800 bg-opacity-50 shadow-2xl shadow-gray-600/10">
          <div class="relative overflow-hidden rounded-xl">
            <img src="/images/Services/s1.webp"
            alt="art cover" loading="lazy" width="1000" height="667" class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105"/>
          </div>
          <div class="mt-6 relative">
            <h3 class="text-2xl font-semibold text-gray-800 dark:text-white">
              Electrical Wiring Installation
            </h3>
            <p class="mt-6 mb-8 text-gray-600 dark:text-gray-300">
              Installing and connecting wiring, outlets, fixtures, switches, and other electrical components.
            </p>
            <!-- <a class="inline-block" href="#">
              <span class="text-info dark:text-blue-300">Read more</span>
            </a> -->
          </div> 
        </div>

        <div class="group p-6 sm:p-8 rounded-3xl bg-white border border-gray-100 dark:shadow-none dark:border-gray-700 dark:bg-gray-800 bg-opacity-50 shadow-2xl shadow-gray-600/10">
          <div class="relative overflow-hidden rounded-xl">
            <img src="/images/Services/s2.webp"
            alt="art cover" loading="lazy" width="1000" height="667" class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105"/>
          </div>
          <div class="mt-6 relative">
            <h3 class="text-2xl font-semibold text-gray-800 dark:text-white">
              Electrical Troubleshooting
            </h3>
            <p class="mt-6 mb-8 text-gray-600 dark:text-gray-300">
              Identifying and rectifying issues with existing electrical systems
            </p>
            <!-- <a class="inline-block" href="#">
              <span class="text-info dark:text-blue-300">Read more</span>
            </a> -->
          </div>
          
        </div>
        <div class="group p-6 sm:p-8 rounded-3xl bg-white border border-gray-100 dark:shadow-none dark:border-gray-700 dark:bg-gray-800 bg-opacity-50 shadow-2xl shadow-gray-600/10">
          <div class="relative overflow-hidden rounded-xl">
            <img src="/images/Services/s3.webp"
            alt="art cover" loading="lazy" width="1000" height="667" class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105"/>
          </div>
          <div class="mt-6 relative">
            <h3 class="text-2xl font-semibold text-gray-800 dark:text-white">
              Electrical Repair and Maintenance
            </h3>
            <p class="mt-6 mb-8 text-gray-600 dark:text-gray-300">
              Inspecting and maintaining existing electrical systems to ensure they are operating correctly and safely.
            </p>
            <!-- <a class="inline-block" href="#">
              <span class="text-info dark:text-blue-300">Read more</span>
            </a> -->
          </div>
          
        </div>
        <div class="group p-6 sm:p-8 rounded-3xl bg-white border border-gray-100 dark:shadow-none dark:border-gray-700 dark:bg-gray-800 bg-opacity-50 shadow-2xl shadow-gray-600/10">
          <div class="relative overflow-hidden rounded-xl">
            <img src="/images/Services/s4.png"
            alt="art cover" loading="lazy" width="1000" height="667" class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105"/>
          </div>
          <div class="mt-6 relative">
            <h3 class="text-2xl font-semibold text-gray-800 dark:text-white">
              Ceiling Fan Repairng
            </h3>
            <p class="mt-6 mb-8 text-gray-600 dark:text-gray-300">
              Installing, connecting and Repairing of all types of Fans 
            </p>
            <!-- <a class="inline-block" href="#">
              <span class="text-info dark:text-blue-300">Read more</span>
            </a> -->
          </div>
          
        </div>
        <div class="group p-6 sm:p-8 rounded-3xl bg-white border border-gray-100 dark:shadow-none dark:border-gray-700 dark:bg-gray-800 bg-opacity-50 shadow-2xl shadow-gray-600/10">
          <div class="relative overflow-hidden rounded-xl">
            <img src="/images/Services/s5.webp"
            alt="art cover" loading="lazy" width="1000" height="667" class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105"/>
          </div>
          <div class="mt-6 relative">
            <h3 class="text-2xl font-semibold text-gray-800 dark:text-white">
              Air Conditioner Maintenance
            </h3>
            <p class="mt-6 mb-8 text-gray-600 dark:text-gray-300">
              Identifying and rectifying issues with existing electrical systems
            </p>
            <!-- <a class="inline-block" href="#">
              <span class="text-info dark:text-blue-300">Read more</span>
            </a> -->
          </div>
          
        </div>
        <div class="group p-6 sm:p-8 rounded-3xl bg-white border border-gray-100 dark:shadow-none dark:border-gray-700 dark:bg-gray-800 bg-opacity-50 shadow-2xl shadow-gray-600/10">
          <div class="relative overflow-hidden rounded-xl">
            <img src="/images/Services/s6.webp"
            alt="art cover" loading="lazy" width="1000" height="667" class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105"/>
          </div>
          <div class="mt-6 relative">
            <h3 class="text-2xl font-semibold text-gray-800 dark:text-white">
              Fridge Repair and Maintenance
            </h3>
            <p class="mt-6 mb-8 text-gray-600 dark:text-gray-300">
              Inspecting and maintaining existing electrical systems to ensure they are operating correctly and safely.
            </p>
            <!-- <a class="inline-block" href="#">
              <span class="text-info dark:text-blue-300">Read more</span>
            </a> -->
          </div>
          
        </div>
      </div>
      
  </Container>
</div>