---
import Container from "./Container.astro"
const serviceList = [
  {
    name: "Air Conditioner",
    description: "Cooling appliance for regulating room temperature",
    URL: "/images/Services/s5.webp"
  },
  {
    name: "Fridge",
    description: "Refrigeration unit for storing perishable items",
    URL: "/images/Services/s6.webp"
  },
  {
    name: "Washing Machine",
    description: "Device for automating clothes cleaning",
    URL: "/images/Services/Washing.jpeg"
  },
  {
    name: "RO Water Plant",
    description: "Water Purification System",
    URL: "/images/Services/RO.jpg"
  },
  {
    name: "Geyser ( Electical or Gas )",
    description: "Water heater for providing hot water",
    URL: "/images/Services/geyser.jpg"
  },
  {
    name: "Light Fitting",
    description: "Fixture for installing light bulbs",
    URL: "/images/Services/Light.jpeg"
  },
  {
    name: "Celling Fan",
    description: "Rotating blades for air circulation in rooms",
    URL: "/images/Services/s4.png"
  },
  {
    name: "Stand Fan",
    description: "Portable fan with adjustable height",
    URL: "/images/Services/standfan.jpg"
  },
  {
    name: "Mixture",
    description: "Appliance for mixing ingredients in cooking",
    URL: "/images/Services/mixer.webp"
  },
  {
    name: "Laptop",
    description: "Portable computer for personal use",
    URL: "/images/Services/Laptop.jpeg"
  },
  {
    name: "Computer",
    description: "Electronic device for processing data",
    URL: "/images/Services/Computer.jpeg"
  },
  {
    name: "Atta Maker",
    description: "Also known as ghar-ghanti service is provided",
    URL: "/images/Services/ATTA.jpeg"
  },
  {
    name: "Water Motor",
    description: "Device for pumping water, commonly used in wells.",
    URL: "/images/Services/Motar.jpeg"
  },
  {
    name: "CCTV Installation & Maintenance",
    description: "Security camera setup and upkeep",
    URL: "/images/Services/CCTV.jpeg"
  },
  {
    name: "Dish TV Service",
    description: "Satellite television service provider",
    URL: "/images/Services/Dish.jpeg"
  },
  {
    name: "Microwave Oven",
    description: "Appliance for cooking and reheating",
    URL: "/images/Services/Oven.jpeg"
  },
  {
    name: "Solar Cleaning",
    description: "Maintenance service for solar panels",
    URL: "/images/Services/Solar.jpeg"
  },
  {
    name: "Cooler",
    description: "Air cooling device, often used in hot climates",
    URL: "/images/Services/Cooler.jpeg"
  },
  {
    name: "Hand Blender",
    description: "Handheld device for blending and mixing",
    URL: "/images/Services/blender.jpg"
  },
  {
    name: "Printer",
    description: "Printer Repair and maintenance service is provided",
    URL: "/images/Services/printer.jpg"
  },
  {
    name: "Plumbing Services",
    description: "Plumbing Repair and maintenance service is provided",
    URL: "/images/Services/Plumber.jpeg"
  },
  {
    name: "Gas Stove",
    description: "Gas Stove Repair and maintenance service is provided",
    URL: "/images/Services/Gas stove.jpeg"
  },
  {
    name: "Pressure Pump",
    description: "Pressure Pump Repair and maintenance service is provided",
    URL: "/images/Services/Pressure Pump.jpeg"
  },
  {
    name: "LED TV",
    description: "LED TV Repair and maintenance service is provided",
    URL: "/images/Services/LED.jpeg"
  },
] 
---

<div id="Services">
  <Container>
      <div class="mb-12 space-y-2 text-center">
        <h2 class="text-3xl font-bold text-gray-800 md:text-4xl dark:text-white">Our services ⚡</h2>
        <p class="lg:mx-auto lg:w-6/12 text-gray-600 dark:text-gray-300">
          Expert Electrical Services for Your Home or Business
        </p>
      </div>
      <div class="grid gap-8 md:grid-cols-2 lg:grid-cols-3">
        {
          serviceList.map((item)=>(
            
          <div class="group p-6 sm:p-8 rounded-3xl bg-white border border-gray-100 dark:shadow-none dark:border-gray-700 dark:bg-gray-800 bg-opacity-50 shadow-2xl shadow-gray-600/10">
            <div class="relative overflow-hidden rounded-xl">
              <img src={item.URL} alt="art cover" loading="lazy" width="1000" height="667" class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105">
          </div>
          <div class="mt-6 relative">
            <h3 class="text-2xl font-semibold text-gray-800 dark:text-white">
              {item.name}
            </h3>
            <p class="mt-6 mb-8 text-gray-600 dark:text-gray-300">
              {item.description}
            </p>
          </div> 
        </div>
          ))
        }

        
        </div>
      </div>
      
  </Container>
</div>